@font-face{
    scr: url("https://mdn.mozillademos.org/files/2468/VeraSeBd.ttf");
    font-family: "gaura";
    font-weight: 500;
}

h1 {
    color: blue;
     font-size: 24px;
     text-align: center;
     text-transform: uppercase;
     text-shadow: green;
    font-family:Georgia, 'Times New Roman', Times, serif} /*CTRL+SPACE a súgó, ez hozza elő a betűtípusokat*/

img { 
    width: 600px;
    padding: 20px;
    border: 2px green;
    margin: 20px;
    box-shadow: 0 3px 5px blue;
    background-color: cadetblue;
}

img:hover{
    width:700px;
    background-color: green;
}

p:hover {
    background-color: yellow;
  }

h2 {   font-family: 'Sacramento', cursive;    font-size: 48px; text-align: center;}  
/*https://fonts.google.com/ ról letöltött font, ami a html-ben lett megadva*/
h3 {   font-family: "gaura" ;  font-size: 48px; text-align: center;} 