h1 {	color: rgb(255, 0, 255); }
	a {color: lime; font-size:24px;}
html {	background-color: rgb(125, 117, 247); }
	}
	
.menu {
	position: fixed;
	top: 10px;
	right: 10 px;
}

body {font-size:24px;}

img {width: 100%;}
